@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f8f0f0] min-h-screen;
}

/* Soft white background with slight transparency */
.search-container {
  background: rgba(255, 255, 255, 0.9);
}

/* Remove input autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
